
<div id="carouselMain" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="3" aria-label="Slide 4"></button>       
    </div>
    <div class="carousel-inner">  

        <div class="carousel-item active" data-bs-interval="4000">
            <img src="~/Assest/1.png" class="img-fluid d-block w-100" alt="1.png">
            <div class="carousel-caption d-none d-md-block">
                <p class="fw-bolder text-dark bg-white">
                    As volunteers, we are the catalysts of transformation, breathing life into dreams and sparking joy
                    in the hearts of those we serve. Together, let's paint a masterpiece of compassion, leaving an indelible
                    mark on the canvas of humanity.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="~/Assest/2.png" class="img-fluid d-block w-100" alt="2.png">
            <div class="carousel-caption d-none d-md-block">
                <p class="fw-bolder text-dark bg-white">
                    Volunteerism is the symphony of humanity, where diverse voices harmonize to create a chorus of love and support.
                    Each act of service, no matter how small, resonates with the potential to change lives and build a more inclusive society.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="~/Assest/3.png" class="img-fluid d-block w-100" alt="3.png">
            <div class="carousel-caption d-none d-md-block">
                <p class="fw-bolder text-dark bg-white">
                    The true beauty of volunteering lies in its ability to touch lives and create a ripple effect of goodness.
                    It's the embodiment of the saying, 'A candle loses nothing by lighting another candle.'
                    Let's illuminate the world with our acts of kindness and inspire others to do the same.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="~/Assest/4.png" class="img-fluid d-block w-100" alt="4.png">
            <div class="carousel-caption d-none d-md-block">
                <p class="fw-bolder text-dark bg-white">
                    In the tapestry of giving, every volunteer stitch is a testament to the power of compassion.
                    Weaving together the threads of selflessness, empathy, and dedication,
                    we create a vibrant fabric of change that warms hearts and transforms communities.
                </p>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



